{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<section class="forgot-section">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-5">

                <div class="forgot-card">

                    <h2>Forgot Password</h2>

                    <p>
                        Enter your registered email to receive an OTP.
                    </p>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST">

                        {% csrf_token %}

                        <input
                            type="email"
                            name="email"
                            class="form-control mb-4"
                            placeholder="Enter your registered email"
                            required
                        >

                        <button class="forgot-btn">
                            Send OTP
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
