.forgot-section{
    min-height:100vh;
    display:flex;
    align-items:center;
    background:#fafafa;
}

.forgot-card{
    background:#fff;
    padding:45px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.forgot-card h2{
    text-align:center;
    font-weight:700;
    margin-bottom:10px;
}

.forgot-card p{
    text-align:center;
    color:#777;
    margin-bottom:30px;
}

.form-control{
    height:55px;
    border-radius:12px;
}

.forgot-btn{
    width:100%;
    height:55px;
    background:#ff6a00;
    border:none;
    border-radius:12px;
    color:#fff;
    font-weight:600;
}

.forgot-btn:hover{
    background:#e65c00;
}