.gallery{

    display:flex;
    gap:20px;

}

.thumbnail-column{

    display:flex;
    flex-direction:column;
    gap:15px;

}

.thumb{

    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:14px;
    cursor:pointer;
    border:2px solid transparent;
    transition:.3s;

}

.thumb:hover,
.thumb.active{

    border-color:#E86A33;
    transform:scale(1.05);

}

.main-image-card{

    flex:1;
    background:#fff;
    border-radius:24px;
    padding:25px;
    box-shadow:0 12px 35px rgba(0,0,0,.08);

}

.main-image-card img{

    width:100%;
    height:600px;
    object-fit:cover;
    border-radius:18px;
    transition:.4s;

}

.main-image-card img:hover{

    transform:scale(1.03);

}

@media(max-width:768px){

.gallery{

    flex-direction:column-reverse;

}

.thumbnail-column{

    flex-direction:row;
    justify-content:center;

}

.main-image-card img{

    height:380px;

}

}
.main-image-card{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.gallery-wishlist-btn{
    position: absolute;

    top: 12px;
    right: 12px;

    width: 44px;
    height: 44px;

    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255,255,255,.95);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0,0,0,.15);

    z-index: 100;
    cursor: pointer;

    transition:all .3s ease;
}

.gallery-wishlist-btn:hover{
    transform: scale(1.08);
    background: #111;
    color: #fff;
}