{% load static %}

<div class="top-bar">
    <div class="container">

        <div class="top-left">
            <span>
                <i class="bi bi-truck"></i>
                Free Shipping on Orders Over ₹999
            </span>

            <span>
                <i class="bi bi-telephone"></i>
                +91 98765 43210
            </span>

            <span>
                <i class="bi bi-envelope"></i>
                support@casaio.com
            </span>
        </div>

        <div class="top-right">

            <a href="#">
                <i class="bi bi-geo-alt"></i>
                Track Order
            </a>

            <a href="#">
                Help Center
            </a>

            <select class="top-select">
                <option>English</option>
                <option>தமிழ்</option>
                <option>Hindi</option>
            </select>

            <select class="top-select">
                <option>₹ INR</option>
                <option>$ USD</option>
            </select>

        </div>

    </div>
</div>
