.sidebar{

    position:fixed;

    left:0;
    top:0;

    width:270px;

    height:100vh;

    background:#fff;

    border-right:1px solid var(--border);

    display:flex;

    flex-direction:column;

    box-shadow:var(--shadow);

    z-index:999;

}

.logo{

    padding:35px 25px;

    border-bottom:1px solid var(--border);

}

.logo h2{

    color:var(--primary);

    font-size:30px;

}

.logo span{

    color:var(--gray);

    font-size:14px;

}

.menu{

    padding:20px;

}

.menu li{

    margin-bottom:10px;

}

.menu li a{

    display:flex;

    align-items:center;

    gap:15px;

    padding:14px 18px;

    border-radius:12px;

    transition:var(--transition);

    font-weight:500;

}

.menu li a i{

    width:22px;

    text-align:center;

}

.menu li:hover a{

    background:#fff4eb;

    color:var(--primary);

}

.menu li.active a{

    background:var(--primary);

    color:#fff;

}