{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }} | Casaio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}

<div class="product-page">

    <div class="container">

        <div class="hero-section">

            {% include "product/partials/gallery.html" %}

            {% include "product/partials/info.html" %}

        </div>

        <div class="reviews-section">

            {% include "product/partials/reviews.html" %}

        </div>

        <section class="related-products-section">

            <div class="container">

                <div class="section-header">

                    <h2>Related Products</h2>

                    <p>You may also like these products</p>

                </div>

                <div class="related-grid">

                    {% for item in related_products %}

                        {% include "product/partials/product_card.html" with product=item %}

                    {% empty %}

                        <p class="text-center">
                            No related products found.
                        </p>

                    {% endfor %}

                </div>

            </div>

        </section>

    </div>

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/product/gallery.js' %}"></script>
{% endblock %}